In [ ]:
##### Introduction to LIST Datatypes

In [2]:
names = ['tom','dave','sarah','peter','sam']

In [3]:
print(names)

['tom', 'dave', 'sarah', 'peter', 'sam']

In [4]:
type(names)

list

In [5]:
print(names[1])

dave

In [6]:
print(names[5])

IndexError: list index out of range

In [7]:
print(names)

['tom', 'dave', 'sarah', 'peter', 'sam']

In [8]:
#### Reassign the value in list

In [ ]:
names[2]='mark'

In [9]:
print(names)

['tom', 'dave', 'mark', 'peter', 'sam']

In [ ]:
#### Adding the elements

In [10]:
names.append('john')

In [11]:
print(names)

['tom', 'dave', 'mark', 'peter', 'sam', 'john']

In [12]:
names.insert(2,'james')

In [13]:
print(names)

['tom', 'dave', 'james', 'mark', 'peter', 'sam', 'john']

In [14]:
names.append('test','test2')

TypeError: append() takes exactly one argument (2 given)

In [ ]:
###### Delete elements from the list

In [15]:
del names[4]

In [16]:
print(names)

['tom', 'dave', 'james', 'mark', 'sam', 'john']

In [ ]:
#### POP Operation

In [17]:
names.pop()

'john'

In [18]:
print(names)

['tom', 'dave', 'james', 'mark', 'sam']

In [19]:
x=names.pop()

In [20]:
print(names)

['tom', 'dave', 'james', 'mark']

In [21]:
print(x)

sam

In [22]:
y=names.pop(2)

In [23]:
print(names)

['tom', 'dave', 'mark']

In [25]:
print(names)

['tom', 'dave', 'mark']