In [ ]:
######## Introduction to slicicng of lists

In [1]:
students=['tom','mark','sarah','sam','dave','peter','louis','tim']

In [2]:
print(students)

['tom', 'mark', 'sarah', 'sam', 'dave', 'peter', 'louis', 'tim']

In [ ]:
### Access individual in a list

In [4]:
print(students[3])

sam

In [ ]:
### Req : To create a small group of 2 people eachc

In [5]:
print(students[0:1])

['tom']

In [6]:
print(students[0:2])  ### last value is always exclusive

['tom', 'mark']

In [7]:
print(students[2:4])

['sarah', 'sam']

In [8]:
print(students[4:6])

['dave', 'peter']

In [9]:
print(students[6:8])

['louis', 'tim']

In [ ]:
#### Req : To consider alternative students in group  -> start point : end point : step count

In [10]:
print(students[0:7:2])

['tom', 'sarah', 'dave', 'louis']

In [11]:
print(students[0:7:3])

['tom', 'sam', 'louis']

In [ ]:
####### Introduction to -ve indexing

In [12]:
print(students[-1])

tim

In [13]:
print(students[-3])

peter

In [ ]:
## Req: how to print a list in reverse order by using the indexing

In [14]:
print(students[::-1])

['tim', 'louis', 'peter', 'dave', 'sam', 'sarah', 'mark', 'tom']

In [15]:
print(students[-1:-8:-2])

['tim', 'peter', 'sam', 'mark']

In [ ]:
######## Usage of Range Function

In [16]:
for value in range(0,20):
    print(value)  #last value is always exclusive

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
### Req : to have 10 numbers in list

In [17]:
num = list(range(0,11))
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
### Req : I want to print list of even numbers till 40

In [18]:
evn_num = list(range(2,41,2))
print(evn_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
### Req : I want to print list of 3 multiple numbers

In [19]:
number = list(range(3,31,3))
print(number)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]